.container {
    display: flex;
  }
  
  .left-column {
    flex: 1;
    /* Ocupa todo el espacio disponible */
    padding: 20px;
  }
  
  .right-column {
    flex: 1;
    /* Ocupa todo el espacio disponible */
    padding: 20px;
  }

  table {
    width: 100%;
}

th, td {
    width: 50%; /* Ajusta el ancho de las columnas según sea necesario */
}